* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overscroll-behavior: none !important;
}

*::-webkit-scrollbar {
  display: none !important;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
